/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jul 3, 2025, 2:12:08 PM
    Author     : NGUYEN THUAN
*/

.Main{
    -fx-background-color: #121212;
    -fx-alignment: CENTER;
    -fx-spacing: 10;
}
.Subject{
    -fx-font-size: 40;
    -fx-font-weight: bold;
    -fx-fill: white ;
    -fx-stroke: cadetblue;
    -fx-stroke-width: 3;
}
.Button{
    -fx-background-color: #333333;
    -fx-text-fill: #FFFFFF;
    -fx-pref-width: 250;
    -fx-font-size: 15;
    -fx-font-weight: bold;
}
